@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

:root {
  --back-dark: #313131;
  --back-light: rgb(208, 208, 208);
  --tile-back: #5D5D5D;
  --tile-back: #707070;
  --black: #313131;
  --max-black: #1a1a1a;
  --white: #ffffff;
  --green: #74c374;
  --green-hover: #82d282;

  --button-hover: #868686;
  --button-light-hover: #e4e4e4;;

  --size: 10;
  --tile-width: 40px;
  --width: 600px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "JetBrains Mono", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--back-dark);
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

span {
  display: block;
  font-size: 14px;
  color: var(--white);
}