@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

:root {
  --back-dark: #313131;
  --back-light: #d0d0d0;
  --tile-back: rgb(112, 112, 112);
  --tile-back-opened: #454545;
  --black: #313131;
  --max-black: #1a1a1a;
  --white: #ffffff;
  --green: #74c374;
  --green-hover: #82d282;
  --blue: #69AEEE;
  --yellow: #ffc831;
  --red: #ed2626;

  --button-hover: #868686;
  --button-light-hover: #e4e4e4;;

  --size: 10;
  --tile-width: 40px;
  --width: 600px;

  --border-light: 1px solid var(--tile-back);
  --border-tile: 1px solid var(--max-black);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "JetBrains Mono", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--back-dark);
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

span {
  display: block;
  font-size: 14px;
  color: var(--white);
}