.footer {
  width: 100%;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  border: 1px solid var(--border);
}

.footer a {
  color: var(--white);
  text-decoration: none;
}
