.block__task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.task__text {
  font-weight: 400;
  text-align: center;
  opacity: 0.9;
}

.graphics__container {
  position: relative;
  width: 100%;
  min-height: 160px;
  height: 100%;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
}

/**/

@media all and (max-width: 750px) {
  .block__task {
    height: auto;
  }

  .task__graphics {
    height: 200px;
  }
}
