.task__text {
  font-weight: 400;
  text-align: center;
  opacity: 0.9;
}

.graphics__container {
  position: relative;
  width: 100%;
  min-height: 160px;
  height: 100%;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
}

.playground {
  min-width: 460px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.playground > * {
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transform: translateX(0);
}

.playground .tooltip {
  position: absolute;
  padding: 10px 15px;
  background-color: var(--white);
  color: var(--black);
  line-height: 1;
  font-size: 13px;

  pointer-events: none;
  z-index: 100;
}

/**/

@media all and (max-width: 750px) {
  .graphics__container {
    height: 220px;
  }
}
