.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 5px;
}

h1 {
  font-weight: 500;
}

.header__buttons {
  display: flex;
  gap: 5px;
}

.header__levels {
  display: none;
}

.header__levels .level__status {
  display: block;
  margin-right: 5px;
  margin-top: 2px;
}

.button--levels {
  margin-left: 15px;
}

/**/

@media all and (max-width: 980px) {
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px;

    background-color: var(--back);
  }

  .header__levels {
    display: flex;
  }
}

/* ICON */

.title__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title__icon svg {
  width: 60px;
  height: 13px;
}

.header__title .icon path,
.header__title .icon circle,
.header__title .icon rect {
  transition: all 0.2s cubic-bezier(0.5, 1.8, 0.6, 1.5);
}

.header__title .icon path {
  transform: translateX(0);
  transition-delay: 0;
}

.header__title .icon rect {
  transform: translateX(0);
  transition-delay: 0.1s;
}

.header__title .icon circle {
  transform: translateX();
  transition-delay: 0.2s;
}

.header__title:hover .icon path {
  transform: translateX(10px);
  transition-delay: 0;
}

.header__title:hover .icon rect {
  transform: translateX(10px);
  transition-delay: 0.1s;
}

.header__title:hover .icon circle {
  transform: translateX(10px);
  transition-delay: 0.2s;
}
