.main .tag-line {
  font-weight: 300;
  opacity: 0.5;

  cursor: default;
}

.playground {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playground > * {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

triangle {
  background-image: url("../assets/triangle.svg");
}

circle {
  background-image: url("../assets/circle.svg");
}

fish {
  background-image: url("../assets/fish.svg");
}

/* LEVEL 1 */
.level--1 .tag-line:nth-child(2),
.level--1 .tag-line:nth-child(3),
.level--1 .tag-line:nth-child(4) {
  margin-left: 20px;
}

.level--1 .playground {
  gap: 20px;
}

.level--1 triangle {
  width: 90px;
  height: 75px;
}

.level--1 circle {
  width: 90px;
  height: 90px;
}

/* LEVEL 2 */
.level--2 .tag-line:nth-child(2),
.level--2 .tag-line:nth-child(n+4):nth-child(-n+6) {
  margin-left: 20px;
}

.level--2 .tag-line:nth-child(3) {
  margin-left: 40px;
}

.level--2 .playground {
  gap: 20px;
}

.level--2 fish {
  position: relative;
  width: 160px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.level--2 fish circle {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  width: 40px;
  height: 40px;

  transform: translateX(-25%);
}

.level--2 circle {
  width: 90px;
  height: 90px;
}