@import url("./basic.css");
@import url("./typography.css");
@import url("./buttons.css");

@import url("./pets_header.css");
@import url("./card.css");
@import url("./footer.css");

@import url("./popup.css");

body {
    background-color: #F6F6F6;
}

/**/

.pets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 100px;
}

.pets__title {
    text-align: center;
    margin-bottom: 60px;
}

/* GRID */

.pets__cards_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 30px 40px;
}

/* BUTTONS */

.page-buttons {
    max-width: 340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 42px;
}


/* 1120 */

@media all and (max-width: 1120px) {
    .pets__cards_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 830 */

@media all and (max-width: 830px) {
    .pets__cards_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 630 */

@media all and (max-width: 630px) {
    .pets {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .pets__title {
        margin-bottom: 42px;
    }
}

/* 540 */

@media all and (max-width: 540px) {
    .pets__cards_grid {
        grid-template-columns: repeat(1, 1fr);
    }

     .card:nth-child(n + 4) {
         display: none;
     }
}
