.pages {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */

  margin-top: 15px;
}

.page {
  display: flex;
  gap: 5px;
}

.page span {
  font-size: 12px;
  text-transform: uppercase;
}

.pages__buttons {
  display: flex;
  gap: 5px;
}
