/* LEVEL 3 */

.level--3 .playground {
  gap: 10px;
}

.level--3 .tag-line {
  padding-left: 20px;
}

.level--3 .tag-line:first-child,
.level--3 .tag-line:last-child {
  padding-left: 0;
}

.level--3 rabbit:nth-child(2) {
  background-image: url("../../assets/rabbit--purple.svg");
}

@media all and (max-width: 550px) {
  .level--3 rabbit {
    width: 80px;
    height: 80px;
  }
}