/* LEVEL 5 */

.level--5 .tag-line {
  margin-left: 20px;
}

.level--5 .tag-line:nth-child(4),
.level--5 .tag-line:nth-child(7) {
  margin-left: 40px;
}

.level--5 .tag-line:first-child,
.level--5 .tag-line:last-child {
  margin-left: 0;
}

.level--5 circle,
.level--5 box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level--5 circle.small {
  width: 40px;
  height: 40px;
}

.level--5 circle fish,
.level--5 box fish {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  width: 60px;
  height: 40px;
}