/* LEVEL 1 */

.level--1 .tag-line:nth-child(2),
.level--1 .tag-line:nth-child(3),
.level--1 .tag-line:nth-child(4) {
  margin-left: 20px;
}

.level--1 triangle {
  transform: scale(1);
}

.level--1 circle {
  transform: scale(1);
}
